include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include test_app2 *.css
recursive-include test_app2 *.csv
recursive-include test_app2 *.html
recursive-include test_app2 *.ico
recursive-include test_app2 *.js
recursive-include test_app2 *.json
recursive-include test_app2 *.md
recursive-include test_app2 *.png
recursive-include test_app2 *.py
recursive-include test_app2 *.svg
recursive-include test_app2 *.txt
recursive-exclude test_app2 *.pyc